* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: myFirstFont;
    src: url('./font/zitroneFY.otf');
  }

  html, body {
    min-height: 100vh;
  }

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  #pinkboard {
    /* position: relative; */
    margin: auto;
    height: 1500px;
    width: 2000px;
    animation: animate 1.3s infinite;
  }
  
  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #f0a6a6;
    overflow: hidden;
  }
  
  .heart {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #e44343;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
  }
  
  .heart::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e44343;
    border-radius: 50%;
    box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.1);
  }
  
  .heart::after {
    content: "";
    position: absolute;
    top: 0%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: #e44343;
    border-radius: 50%;
    box-shadow: -20px -20px 20px rgba(0, 0, 0, 0.1);
  }
  
  .container p {
    position: relative;
    z-index: 100;
    color: rgb(244, 187, 90);
    letter-spacing: 1px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: myFirstFont;
    font-size: 3.5vw;
    top: -30px;
    text-align: center;
    font-size: 45px;
  }
  

  @keyframes animate {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(.8);
    }
    60% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }


  span {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
    animation: faceInOut 1s linear infinite;
  }

  @keyframes faceInOut {
    0%,100%  {
      opacity: 0;
    }
    20%,80% {
     opacity: 1;
    }
  }

  span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./heart.png');
    background-size: cover;
    animation: moveShape 1s linear infinite;
  }

  @keyframes moveShape {
    0% {
      transform: translate(0) rotate(0deg);
    }
    100% {
      transform: translate(300px) rotate(360deg);
    }
  }